/**
 *
 * Type your custom styles
 *
 */



/**
 * Additional styles for Anime demo
 */
/* Wide container */
.content-wrap {
    max-width: none;
}

.btn::before,
.full .countdown .countdown-item > span + span::after,
.countdown.style-1 .countdown-item > span + span::after{
    -webkit-transform: skew(-7deg);
    -ms-transform: skew(-7deg);
    -o-transform: skew(-7deg);
    transform: skew(-7deg);
}

.alert::before {
    position: absolute;
    transform: skew(-7deg);
}

.label::before {
    transform: skew(-7deg);
}

.label-success::before {
    background: #007E29;
}
.label-danger::before {
    background: #B00000;
}

.alert-timer, .alert-reward {
    float: right;
    font-weight: bold;
    font-size: 13px;
}

.alert-cauchemar, .alert-archwing {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
}

.panel-group .panel-default > .panel-heading::after{
    position: absolute;
    left: 0;
    background: rgba(255,255,255,.1);
    -webkit-transform: skew(-7deg);
    -ms-transform: skew(-7deg);
    -o-transform: skew(-7deg);
    transform: skew(-7deg);
    z-index: 1;
}

.sortiesCountdown {
    font-size: 16px;
    text-align: center
}

