/**
 *
 * Type your custom styles
 *
 */



/**
 * Additional styles for Anime demo
 */
/* Wide container */
.content-wrap {
    max-width: none;
}

.btn::before,
.full .countdown .countdown-item > span + span::after,
.countdown.style-1 .countdown-item > span + span::after{
    -webkit-transform: skew(-7deg);
    -ms-transform: skew(-7deg);
    -o-transform: skew(-7deg);
    transform: skew(-7deg);
}

